#contentRating {
    position: fixed;
    bottom:0;
    left: 10px;
    overflow: hidden;
    text-align: center;
}

#toggleRating {
    background-color:#333;
    color: white;
    width: 100%;
    border:none;
    box-shadow: none;
    text-transform: upperate_usase;
    font-size: small;
    position: relative;
    
    .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    position: absolute;
    border-bottom-color: rgba(225,225,225, 0.5);
    right: 5px;
    top: 15px;
    }
}

#toggleRating.active .arrow {
    border-bottom-color: transparent;
    border-top-color: rgba(225,225,225, 0.5);
    top: 20px;
}

#entryRating {
    height:0;
    overflow: hidden;
}

.rate_us-rating-content {
    box-sizing: border-box;
    background:#333;
    color:white;
    padding:0 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

     ul li {
        display: inline-block;
        padding:10px;
        position: relative;
        color: black;
	}

    ul li label {
        cursor: pointer;
        padding: 5px 10px;
        border-radius:3px;
		border: solid 1px #000;
        color: black !important;
    }
    
    ul li input {
        position: absolute;
        visibility: hidden;
    }

    ul li input:checked ~ label {
    	background-color: #fb8b33;
    }
}

#entryRating.active {
    height: auto;
    padding:20px;
}

#submitRating {
    background: rgb(202, 198, 198);
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    border-radius:3px;
    padding: 5px 10px;
}

#ratingErrors {
    color:#fb8b33;
    font-style: italic;
}